.clock,
.clockBe {
  display: flex;
  background: #333333;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  align-items: center;
  justify-content: space-around;
}

.clock-time {
  font-size: 48px;
  color: #eeeeee;
}

.country {
  color: #eeeeee;
  font-size: 20px;
}
