.clock {
  background: #333333;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.clock-time,
.clock-ampm {
  font-family: sans-serif;
  font-size: 30px;
  color: #eeeeee;
}
.clock-time {
  font-size: 48px;
}
